@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid p-0">
    <iframe title="Sistema de Chamados"
            src="https://app.powerbi.com/reportEmbed?reportId=0c44c7c9-5a5d-4fdb-87bf-99341ae1f53a&autoAuth=true&ctid=01ee7ae0-42ba-41a5-bb7b-8d4af8db7f07"
            frameborder="0"
            allowFullScreen="true"
            class="w-100 vh-100 border-0"
            style="display: block;">
    </iframe>
</div>
